<!-- LATEX FORM CONTROLS -->
<form [formGroup]="latexForm">
    <div *ngIf="closeDiv && content === 'OVERVIEW'" class="form-group" id="narrow">         
        <label for="title" class="lableTitle" style="padding-right:5px">Overview</label> 
        <!-- <input formControlName="overviewTitle" [(ngModel)]="overviewTitle" class="overviewTitle" type="text" readonly/> -->
        <i class="fa fa-times close secclose" aria-hidden="true" (click)="removeSection()"></i>
        <textarea formControlName="overview" [(ngModel)]="overview" placeholder="Enter your content" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
    </div>

    <div *ngIf="closeDiv && content === 'PARAGRAPH'" class="form-group" id="narrow">         
        <label for="title" class="lableTitle" style="padding-right:5px">Paragraph</label> 
        <input formControlName="paragraphTitle" [(ngModel)]="paragraphTitle" class="overviewTitle" type="text" readonly/>
        <img (click)="openparagraphDialog()" class="expand" src="assets/img/expand.svg"/>
        <i class="fa fa-times close secclose" aria-hidden="true" (click)="removeSection()"></i>
        <textarea formControlName="paragraph" [(ngModel)]="paragraph" placeholder="Enter your content" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
    </div>

    <div *ngIf="closeDiv && content === 'SECTION'" class="form-group" id="narrow">         
        <label for="title" class="lableTitle" style="padding-right:5px">Section</label> 
        <input formControlName="sectionTitle" [(ngModel)]="sectionTitle" class="overviewTitle" type="text" readonly/>
        <img (click)="opensectionDialog()" class="expand" src="assets/img/expand.svg"/>
        <i class="fa fa-times close secclose" aria-hidden="true" (click)="removeSection()"></i>
        <textarea formControlName="section" [(ngModel)]="section" placeholder="Enter your content" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
    </div>

    <div *ngIf="closeDiv && content === 'SUB SECTION'" class="form-group" id="narrow">         
        <label for="title" class="lableTitle" style="padding-right:5px">Sub Section</label> 
        <input formControlName="subsectionTitle" [(ngModel)]="subsectionTitle" class="overviewTitle" type="text" readonly/>
        <img (click)="opensubsectionDialog()" class="expand" src="assets/img/expand.svg"/>
        <i class="fa fa-times close secclose" aria-hidden="true" (click)="removeSection()"></i>
        <textarea formControlName="subsection" [(ngModel)]="subsection" placeholder="Enter your content" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
    </div>

    <div *ngIf="closeDiv && content === 'SUB SUB SECTION'" class="form-group" id="narrow">         
        <label for="title" class="lableTitle" style="padding-right:5px">Sub Sub Section</label> 
        <input formControlName="subsubsectionTitle" [(ngModel)]="subsubsectionTitle" class="overviewTitle" type="text" readonly/>
        <img (click)="opensubsubsectionDialog()" class="expand" src="assets/img/expand.svg"/>
        <i class="fa fa-times close secclose" aria-hidden="true" (click)="removeSection()"></i>
        <textarea formControlName="subsubsection" [(ngModel)]="subsubsection" placeholder="Enter your content" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
    </div>


    <!-- /Ordered List -->
    <div *ngIf="!isOrderlist && content === 'ORDERED LIST'" class="form-group" id="narrow">
        <label for="title" class="lableTitle" style="padding-right:5px">Ordered Lists</label>
        <!-- <img class="addBtn" (click)="addorderList()" src="assets/img/addnotes.svg"/> -->
        <mat-icon class="closePlus iOd" aria-hidden="true" [class.disabled]="isorderItemsInvalid()" (click)="addorderList()">add_circle_outline</mat-icon>
        <i class="fa fa-times close secclose" aria-hidden="true" (click)="isOrderlist = !isOrderlist; orderlist = ''; orderlistTitle =''"></i>
        
        <div formArrayName="orderListItems">
            <div class="oderAlign" *ngFor="let item of orderListItems.controls; let i = index;" [formGroupName]="i">
                <input formControlName="orderlist" type="text" class="text-size form-control createDoc"/> 
                <i class="fa-solid fa-trash delIcon" (click)="removeorderList(i)"></i> 
            </div>
        </div>
        <!-- <div><img class="addBtn" (click)="addorderList()" src="assets/img/addnotes.svg"/> <p class="addMore">Add Items</p></div> -->
    </div>
    <!-- Ordered List/ -->

    <!-- /UnOrdered List -->
    <div *ngIf="!isunOrderlist && content === 'UNORDERED LIST'" class="form-group" id="narrow">
        <label for="title" class="lableTitle" style="padding-right:5px">Unordered Lists</label>
        <!-- <img class="addBtn" (click)="addunorderList()" src="assets/img/addnotes.svg"/> -->
        <mat-icon class="closePlus iOd" aria-hidden="true" [class.disabled]="isunorderItemsInvalid()" (click)="addunorderList()">add_circle_outline</mat-icon>
        <i class="fa fa-times close secclose" aria-hidden="true" (click)="isunOrderlist = !isunOrderlist; unorderlist = '';"></i>
        
        <div formArrayName="unorderListItems">
            <div class="oderAlign" *ngFor="let item of unorderListItems.controls; let i = index;" [formGroupName]="i">
                <input formControlName="unorderlist" type="text" class="text-size form-control createDoc"/> 
                <i class="fa-solid fa-trash delIcon" (click)="removeunorderList(i)"></i> 
            </div>
        </div>
    </div>
    <!-- UnOrdered List/ -->
</form> 
latexFormData: {{latexForm?.value|json}}
