<!-- Header here-->
<div [ngClass]="{'blur': successModel}">
    <div class="container-fluid">
        <div class="row">
            <div class="row main headertop" [ngStyle]="{'display':isDisplay?'block':'none'}">
                <div class="col-sm-12 compswitch ">
                    <div class="switch  cswitch cswitchtwo">
                        <a href="javascript:void(0);" class="optionone compone"
                            [ngClass]="{'active': selectedValue === 'create'}" (click)="isActive('create')">Create</a>
                        <a href="javascript:void(0);" class="optiontwo comptwo"
                            [ngClass]="{ 'active' : selectedValue === 'view' }" (click)="isActive('view')">View</a>
                    </div>
                </div>
            </div>
            <div class="arrowitem" (click)="hideAndShow()">
                <i *ngIf="isDisplay" class="fa fa-light fa-chevron-up"></i>
                <i *ngIf="!isDisplay" class=" fa fa-light fa-chevron-down"></i>
            </div>

        </div>
    </div>
</div>
<!-- Header ends here-->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 overRoll" #pdfContent> 
        <div class="lableTitle layout">Layout: {{documentname}}</div>
        <form [formGroup]="myForm">

        <div class="col-xs-6"> 
            <!-- FILE -->
            <button class="menuBtn1" mat-button [matMenuTriggerFor]="menu1">File<i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <mat-menu class="matFile" #menu1="matMenu">
                <button mat-menu-item (click)="newDoc()"><img class="fileImg" src="assets/img/new.svg"/>&nbsp;New</button>
                <button mat-menu-item (click)="openDocumentDialog()"><img class="fileImg" src="assets/img/open.svg"/>&nbsp;Open</button>
                <button mat-menu-item (click)="saveDoc()"><img class="fileImg" src="assets/img/save.svg"/>&nbsp;Save</button>
                <button mat-menu-item (click)="downloadDialog()"><img class="fileImg" src="assets/img/save.svg"/>&nbsp;Save as</button> 
                <button mat-menu-item (click)="deleteDoc()"><img class="fileImg" src="assets/img/trasho.svg"/>&nbsp;Delete</button> 
            </mat-menu>
            <!-- INSERT -->
            <button class="menuBtn2" mat-button [matMenuTriggerFor]="menu2">Insert<i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <mat-menu class="matInsert" #menu2="matMenu" xPosition="before">
                <button mat-menu-item (click)="addBlock('OVERVIEW')"><img class="imgoverView" src="assets/img/overview.svg"/>Overview</button>
                <button mat-menu-item (click)="addBlock('SECTION')"><img class="imgsecView" src="assets/img/section.svg"/>&nbsp;&nbsp;Section</button>
                <button mat-menu-item (click)="addBlock('SUB SECTION')"><img class="imgView" src="assets/img/subsection.svg"/>&nbsp;Sub Section</button>
                <button mat-menu-item (click)="addBlock('SUB SUB SECTION')"><img class="imgView" src="assets/img/subsection.svg"/>&nbsp;Sub Sub Section</button>
                <button mat-menu-item (click)="addBlock('PARAGRAPH')"><img class="imgView" src="assets/img/paragraph.svg"/>&nbsp;Paragraph</button>
                <button mat-menu-item (click)="addBlock('ORDERED LIST')"><img class="imgView" src="assets/img/order.svg"/>&nbsp;Ordered List</button>
                <button mat-menu-item (click)="addBlock('UNORDERED LIST')"><img class="imgView" src="assets/img/unord.svg"/>&nbsp;Unordered List</button>
                <!-- <button mat-menu-item (click)="insertPageBreak()"><img class="imgPort" src="assets/img/pagebreak.svg"/>Page Break</button> -->
            </mat-menu>
        </div>
        
        <div class="form-group">
            <label for="title" class="lableTitle">Title</label>
            <input formControlName="title" [(ngModel)]="title" type="text" class="text-size form-control createDoc" name="title">
            <!-- <div *ngIf="myForm.get('title').errors && submitted" class="errorStyle">
                <div *ngIf="myForm.get('title').errors.required">This field is required</div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="title" class="lableTitle">Author</label>
            <input formControlName="author" [(ngModel)]="author" type="text" class="text-size form-control createDoc" name="title">
            <!-- <div *ngIf="myForm.get('author').errors && submitted" class="errorStyle">
                <div *ngIf="myForm.get('author').errors.required">This field is required</div>
            </div> -->
        </div>
        <div class="form-group padDown">
            <label for="title" class="lableTitle">Created</label>
            <input formControlName="date" [(ngModel)]="date" class="text-size form-control createDoc" name="title" readonly>
            <!-- <p>{{date | date:'yyyy-MM-dd'}}</p> -->
        </div>
        
        <!-- /Contents -->
        <div class="form-group" id="narrow">
        <app-latexblock (formDataEvent)="handleFormData($event)" 
        *ngFor="let block of blocks" [content]="block.content"></app-latexblock>
        </div>
        <!-- Contents/ -->

        </form>
        <!-- Main: {{myForm?.value|json}} -->
    </div>

<!------ Right Preview -->
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="container">
            <p class="preview">Preview</p>
            <p><img (click)="getPreview()" class="eyeco" src="assets/img/eyesico.svg"></p>
        </div>

        <div class="row containerbox">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row inforowaling">
                        <div class="col-sm-1 arrowcolumn">
                            <div class="infocontainerleft">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="iframeStyle">
            <iframe height="100%" width="97%" class="responsive-iframe" [src]="pdfSrc" frameborder="0">
                <div class="form-group">
                </div>
            </iframe>
        </div>

    </div>
</div> 

<router-outlet></router-outlet>

