<!-- DOWNLOAD DIALOG BOX -->
<div class="overviewDialog">

    <form [formGroup]="mydForm">
    <div class="closeDialog">
        <i class="fa fa-times xClose" (click)="closeDialog()" aria-hidden="true"></i>
    </div>

    <div class="openDialog">
        <div class="form-group">
            <label for="title" class="lableTitle overedText">File name</label>
            <input formControlName="documentname" type="text" maxlength="150" class="text-size form-control createDoc" name="title">
        </div>

        <div class="overviewSave">
        <!-- <button type="reset" class="btn btn-default btncancel" (click)="closeDialog()">Cancel</button> -->
        <button type="submit" (click)="downloadDoc()" class="btn btn-default btnsave savecls">Save</button> 
      </div>

    </div>
    </form>
    
</div>


